# Bytecode / cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log
core/logs/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Data outputs (gerados pelo ETL, não versionar)
data/bronze/*
data/silver/*
data/gold/*

# Mas mantenha a estrutura das pastas
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Backup / temp files
*.bak
*.swp
*.tmp
